.archetype__container {
    width: 100%;

}

.card__container {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 200px;
    padding: 20px;
    border: 3px solid red;
    border-radius: 20px;
    background-color: black;
}

img {
    width: 140px;
}

.archetype:hover {
    transform: scale(3.5);
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    
}