.home{
    margin-top: 20px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 70%;
    float: left;
}

.information {
    margin-top: 30px;
    padding: 20px;
}

.h__one {
    text-align: center;
}

.about__yugi {
    font-size: 25px;
    padding: 10px;
}

.volume__one {
    float: left;
    margin: 20px;
}